* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}


body {
    font-family: "poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(50%);
}

.form-container {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #f08bb6;
}

.form-container p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #f5d3e5;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background: #f08bb6;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background 0.3s;
}

button:hover {
    background: #c96d9a;
}

.form-container small {
    display: block;
    margin-top: 10px;
    font-size: 0.8rem;
    color: #f5d3e5;
}